#navBar {
  position: relative;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 30px;
}

/*list nested within a navbar*/
#navBar ul {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100;
  list-style-type: none;
  background-color: #eeeeee;
  overflow: visible;
}

/*list item in top level list*/
#navBar ul > li {
  display: block;
  float: left;
  height: auto;
  width: 120px;
}

/*link in top level list*/
#navBar li > a {
  display: block;
  padding: 0 0 0 10px;
  height: 100%;
  width: 109px;
  border-right: 1px solid black;
  line-height: 30px;
  font-size: 17px;
  background-color: #eeeeee;
}

#navBar ul ul {
  margin-top: 2px;
  display: none;
  position: static;
  height: auto;
  width: 160px;
  border: 1px solid #6666;
  background-color: #dddddd;
}

#navBar ul ul li {
  position: relative;
  float: none;
  display: block;
  height: 28px;
  width: 100%;
  border: none;
}

#navBar ul ul a {
  height: 100%;
  width: 96%;
  padding: 0 0 0 4%;
  line-height: 28px;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 12px;
}

#navBar ul li:hover > a {
  color: #220000;
  background-color: green;
}

#navBar ul ul li:hover > a {
  color: #220000;
  background-color: blue;
}

#navBar ul li:hover > ul {
  display: block;
}
