body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#p1 {
  border: solid 3px green;
  padding: 10px;
  margin: 10px;
  float: right;
  width: 33%;
}

#p2 {
    border: solid 3px blue;
    padding: 10px;
    margin: 10px;
    float: right;
    width: 33%;
  }

#p3{
    clear: both;
}

h1 + p:first-letter{
    font: size 300%;
    float:left;
    padding: 0 5px;
    font-family: sans-serif;

}

p:hover{
    border: solid 1px blue;
    background-color: yellow;
}

