body {
  background-color: #aaaa;
}

div {
  background-color: white;
  border: solid 2px black;
  padding: 10px;
}

#pos1 {
  position: absolute;
  top: 10px;
  left: 10px;
}

#pos2 {
  position: absolute;
  top: 160px;
  left: 75px;
  bottom: 75px;
  right: 100px;
  overflow: hidden;
}

#pos3 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50%;
  width: 50%;
}
