#picture a {
  position: absolute;
  border: 3px double black;
  padding: 2em;
  height: 700px;
  width: 10%;
}

#next {
  top: 0;
  left: 0;
}

#previous {
  top: 0;
  right: 0;
}

#bottom {
  position: absolute;
  width: 100%;
  border-top: 2px solid gray;
  background-color: green;
  padding: 10px;
  text-align: center;
  bottom: 0;
  left: 0;
}

ol:last-of-type {
  padding-bottom: 10em;
}

#one {
  position: relative;
  width: 50%;
  padding: 15px;
  background-color: yellow;
  z-index: 1;
}

#two {
  position: absolute;
  top: 15%;
  left: 15%;
  padding: 15px;
  width: 50%;
  background-color: navy;
  color: white;
}
